extends ./layot.jade

block content
	section.not-found
		.wrapper
			h1 Такой страницы больше нет.
			
			p  Перейдите, пожалуйста, в один из разделов: 
			nav
				ul
					li: a(href="#") Каталог услуг
					li: a(href="#") Главная 
					li: a(href="#") Контакты
