extends ./layot.jade

block config
	- var main = 'catalog-detail'

block content
	section.back
		.wrapper
			a(href="#") Бухгалтерские услуги
		
	section.items
		.wrapper
			nav
				a.active(href="#") Аутсорсинг бухгалтерских процессов
				a(href="#") Бухгалтерия под ключ
				a(href="#") Консультационные услуги
				a(href="#") Анализ и оптимизация работы бухгалтерии
					
	section.title
		.wrapper
			h1 Аутсорсинг бухгалтерских процессов
			.text.
				Компания «Biz partners» предлагает услуги штатного бухгалтера на 
				аутсорсинге для иностранных и отечественных компаний. Вы можете передать 
				нам ведение бухгалтерских процессов как полностью, 
				так и частично – отдельные направления.
				
	section.description
		.wrapper
			h2 Вам необходимы наши услуги, если вы:
			
			ol
				li Создаете новую компанию, филиал или обособленное подразделений.
				li Реорганизуете компанию или ее крупные подразделения.
				li.
					Выявили некомпетентность действующих бухгалтеров или провайдерских 
					компаний, осуществлявших эти функции до настоящего времени.
				li Узнали о внесении изменений #[br] в действующее законодательство.
				
			.services
				p Выберите вашу услугу
				
				ul
					li: a.active(href="#service-1") Ведение бухгалтерского и налогового учета
					li: a(href="#service-2") Восстановление бухгалтерского учета
					li: a(href="#service-3") Обслуживание банковского счета
					li: a(href="#service-4") Расчет заработной платы
					li: a(href="#service-5") Кадровое делопроизводство
					li: a(href="#service-6") Подготовка управленческих отчетов
					
				.tabs.active#service-1
					.text.
						Базовый пакет услуги включает ведение первичной документации, 
						формирование кассовой документации, подготовку бухгалтерской и 
						налоговой отчетности, автоматизацию документооборота и мн. другое.  
						Дополнительно по вашему желанию наши специалисты присутствуют во 
						время различных проверок или представляют ваши интересы в налоговых 
						органах и внебюджетных организациях.
					.row
						.column#price
							p.
								Стоимость ведения учета полностью для небольшой компании с 
								5 сотрудниками – 30 - 35 тыс. рублей. 
							.file
								span Подробно об услуге и стоимости:
								a(href="#").
									«Бухгалтерский учет. Базовый пакет
									и дополнительные услуги. Прайс»
						.column#tel
							span Узнать подробности по телефону:
							p +7 (915) 007-07-75
				.tabs#service-2
					.text.
						Базовый пакет услуги включает ведение первичной документации, 
						формирование кассовой документации, подготовку бухгалтерской и 
						налоговой отчетности, автоматизацию документооборота и мн. другое.  
						Дополнительно по вашему желанию наши специалисты присутствуют во 
						время различных проверок или представляют ваши интересы в налоговых 
						органах и внебюджетных организациях.
					.row
						.column#price
							p.
								Стоимость Восстановление бухгалтерского учета для небольшой компании с 
								5 сотрудниками – 30 - 35 тыс. рублей. 
							.file
								span Подробно об услуге и стоимости:
								a(href="#").
									«Бухгалтерский учет. Базовый пакет
									и дополнительные услуги. Прайс»
						.column#tel
							span Узнать подробности по телефону:
							p +7 (915) 007-07-75
				.tabs#service-3
					.text.
						Базовый пакет услуги включает ведение первичной документации, 
						формирование кассовой документации, подготовку бухгалтерской и 
						налоговой отчетности, автоматизацию документооборота и мн. другое.  
						Дополнительно по вашему желанию наши специалисты присутствуют во 
						время различных проверок или представляют ваши интересы в налоговых 
						органах и внебюджетных организациях.
					.row
						.column#price
							p.
								Стоимость Обслуживание банковского счета для небольшой компании с 
								5 сотрудниками – 30 - 35 тыс. рублей. 
							.file
								span Подробно об услуге и стоимости:
								a(href="#").
									«Бухгалтерский учет. Базовый пакет
									и дополнительные услуги. Прайс»
						.column#tel
							span Узнать подробности по телефону:
							p +7 (915) 007-07-75
				.tabs#service-4
					.text.
						Базовый пакет услуги включает ведение первичной документации, 
						формирование кассовой документации, подготовку бухгалтерской и 
						налоговой отчетности, автоматизацию документооборота и мн. другое.  
						Дополнительно по вашему желанию наши специалисты присутствуют во 
						время различных проверок или представляют ваши интересы в налоговых 
						органах и внебюджетных организациях.
					.row
						.column#price
							p.
								Стоимость Расчет заработной платы для небольшой компании с 
								5 сотрудниками – 30 - 35 тыс. рублей. 
							.file
								span Подробно об услуге и стоимости:
								a(href="#").
									«Бухгалтерский учет. Базовый пакет
									и дополнительные услуги. Прайс»
						.column#tel
							span Узнать подробности по телефону:
							p +7 (915) 007-07-75
				.tabs#service-5
					.text.
						Базовый пакет услуги включает ведение первичной документации, 
						формирование кассовой документации, подготовку бухгалтерской и 
						налоговой отчетности, автоматизацию документооборота и мн. другое.  
						Дополнительно по вашему желанию наши специалисты присутствуют во 
						время различных проверок или представляют ваши интересы в налоговых 
						органах и внебюджетных организациях.
					.row
						.column#price
							p.
								Стоимость Кадровое делопроизводство для небольшой компании с 
								5 сотрудниками – 30 - 35 тыс. рублей. 
							.file
								span Подробно об услуге и стоимости:
								a(href="#").
									«Бухгалтерский учет. Базовый пакет
									и дополнительные услуги. Прайс»
						.column#tel
							span Узнать подробности по телефону:
							p +7 (915) 007-07-75
				.tabs#service-6
					.text.
						Базовый пакет услуги включает ведение первичной документации, 
						формирование кассовой документации, подготовку бухгалтерской и 
						налоговой отчетности, автоматизацию документооборота и мн. другое.  
						Дополнительно по вашему желанию наши специалисты присутствуют во 
						время различных проверок или представляют ваши интересы в налоговых 
						органах и внебюджетных организациях.
					.row
						.column#price
							p.
								Стоимость Подготовка управленческих отчетов для небольшой компании с 
								5 сотрудниками – 30 - 35 тыс. рублей. 
							.file
								span Подробно об услуге и стоимости:
								a(href="#").
									«Бухгалтерский учет. Базовый пакет
									и дополнительные услуги. Прайс»
						.column#tel
							span Узнать подробности по телефону:
							p +7 (915) 007-07-75
							
	section.choise-right
		.wrapper
			h1.
				Вы выбираете аутсорсинг бухгалтерских процессов, 
				потому что это:
			ul
				li
					img(src="../img/right-choise1.png")
					p Выгодно
					.text.
						Вы платите только за работу бухгалтера. Не нужно тратить средства 
						на обустройство рабочего места, техническое обеспечение и программы, 
						курсы повышения квалификации и т.п.
				li
					img(src="../img/right-choise2.png")
					p Профессионально
					.text.
						К вашим услугам профессиональные и ответственные специалисты, 
						которые всегда на рабочем месте. Опыт работы сотрудников 
						«Biz partners» - 10 лет по профильным отраслям. 
				li
					img(src="../img/right-choise3.png")
					p Гарантированно
					.text.
						Вы уверены в качестве оказываемых нами услуг. Гарантией выступают 
						заключенный договор и наша готовность взять на себя финансовую 
						ответственность: мы компенсируем ваши расходы на штрафы и пени, 
						если они получены по нашей вине. 
				li
					img(src="../img/right-choise4.png")
					p Безопасно
					.text.
						Вы спокойны за конфиденциальность информации. Мы обеспечиваем 
						сохранность и предотвращаем разглашение данных: как переданных нам, 
						так и полученных в процессе работы.
						
	section.order-call-write
		.wrapper
			.column#text
				p.
					Закажите звонок или напишите нам. 
					Мы расскажем об услугах подробнее. 
					С нами вести бизнес легче!
					
			.column#button
				a.call-window(href="#callme")
					img(src="../img/blue-call.png")
					span Заказать звонок
				a.call-window(href="#writeme")
					img(src="../img/blue-mail.png")
					span Написать нам
