extends ./layot.jade

block config
	- var main = 'catalog-section'

block content
	section.title
		.wrapper
			h1 Бухгалтерский и налоговый учёт
			.text.
				Компания «Biz partners» предлагает услуги аутсорсинга ведения 
				бухгалтерского и налогового учета и их оптимизации. В зависимости от 
				задач, которые вы хотите нам передать, выберите вид услуги:
				
	section.items
		.wrapper
			p Выберите вашу услугу
			
			.item
				a(href="#") Аутсорсинг бухгалтерских процессов
				.text.
					Вы можете передать нам функции вашего бухгалтерского отдела 
					частично или полностью. Специалисты «Biz partners» восстановят и 
					организуют текущий бухгалтерский учет, возьмут на себя расчет 
					заработной платы, обслуживание банковского счета и другие обязанности 
					штатного бухгалтера.
			.item
				a(href="#") Создание бухгалтерии «под ключ»
				.text.
					Эта услуга подходит тем, кто собирается создать новый бухгалтерский 
					отдел, службу внутреннего аутсорсинга или автоматизировать 
					бухгалтерский процесс. Наши специалисты создадут эффективно 
					функционирующую службу «с нуля».
			.item
				a(href="#") Анализ и оптимизация бухгалтерского процесса
				.text.
					Мы проведем полный анализ бухгалтерских процессов и предложим 
					эффективные решения выявленных проблем.
			.item
				a(href="#") Консультационные услуги
				.text.
					К вашим услугам профессиональные специалисты в области финансов, 
					бухгалтерского иналогового учета с большим опытом работы в крупных 
					компаниях различных отраслей деятельности.
					
	section.choise-right
		.wrapper
			h1.
				Вы выбираете аутсорсинг бухгалтерских процессов, 
				потому что это:
			ul
				li
					img(src="../img/right-choise1.png")
					p Выгодно
					.text.
						Вы платите только за работу бухгалтера. Не нужно тратить средства 
						на обустройство рабочего места, техническое обеспечение и программы, 
						курсы повышения квалификации и т.п.
				li
					img(src="../img/right-choise2.png")
					p Профессионально
					.text.
						К вашим услугам профессиональные и ответственные специалисты, 
						которые всегда на рабочем месте. Опыт работы сотрудников 
						«Biz partners» - 10 лет по профильным отраслям. 
				li
					img(src="../img/right-choise3.png")
					p Гарантированно
					.text.
						Вы уверены в качестве оказываемых нами услуг. Гарантией выступают 
						заключенный договор и наша готовность взять на себя финансовую 
						ответственность: мы компенсируем ваши расходы на штрафы и пени, 
						если они получены по нашей вине. 
				li
					img(src="../img/right-choise4.png")
					p Безопасно
					.text.
						Вы спокойны за конфиденциальность информации. Мы обеспечиваем 
						сохранность и предотвращаем разглашение данных: как переданных нам, 
						так и полученных в процессе работы. 
						
	section.news-module
		.wrapper
			h1 Изменения в законодательстве
			ul
				li
					time 23.06.2015
					a(href="#").
						Разграничена налоговая ответственность за непредоставление сведений 
						и документов по контрагентам
					.text.
						Подпункт "б" п. 29 ст. 1 Федерального закона от 23 июля 2013 г. № 248-ФЗ. Изменения 
						вносятся в ст. 93.1 НК РФ, ст. 126 и ст. 129.1 НК РФ и вступают в силу с 1 января 2014 года. 
						Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления запрашиваемых при 
						проведении налоговой проверки документов или непредставление их в установленные 
						сроки влекут ответственность, предусмотренную ст. 129.1 НК РФ ("Неправомерное 
						несообщение сведений налоговому органу"). Согласно поправкам, совершение данного 
						правонарушения теперь влечет ответственность в соответствии со ст. 126 НК РФ 
						("Непредставление налоговому органу сведений, необходимых для осуществления 
						налогового контроля").
				li
					time 23.06.2015
					a(href="#").
						Разграничена налоговая ответственность за непредоставление сведений 
						и документов по контрагентам
					.text.
						Подпункт "б" п. 29 ст. 1 Федерального закона от 23 июля 2013 г. № 248-ФЗ. Изменения 
						вносятся в ст. 93.1 НК РФ, ст. 126 и ст. 129.1 НК РФ и вступают в силу с 1 января 2014 года. 
						Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления запрашиваемых при 
						проведении налоговой проверки документов или непредставление их в установленные 
						сроки влекут ответственность, предусмотренную ст. 129.1 НК РФ ("Неправомерное 
						несообщение сведений налоговому органу"). Согласно поправкам, совершение данного 
						правонарушения теперь влечет ответственность в соответствии со ст. 126 НК РФ 
						("Непредставление налоговому органу сведений, необходимых для осуществления 
						налогового контроля").
