extends ./layot.jade

block config
	- var main = 'catalog'

block content
	.wrapper
		h1 Каталог услуг
		
		section.catalog-sections
			.item
				a(href="#")
					img(src="../img/catalog1.png" data-hover="../img/catalog1-hover.png")
					span. 
						Бухгалтерский 
						и налоговый учет
				ul
					li: a(href="#") Аутсорсинг бухгалтерских процессов
					li: a(href="#") Бухгалтерия под ключ
					li: a(href="#") Анализ и оптимизация работы бухгалтерии
					li: a(href="#") Консультационные услуги
			.item
				a(href="#")
					img(src="../img/catalog2.png")
					span.
						Корпоративные
						юридические услуги
				ul
					li: a(href="#") Консультационные услуги
					li: a(href="#") Административная работа по поручению клиента
					li: a(href="#") Регистрация и ликвидация отечественных и иностранных компаний
					li: a(href="#") Визовая поддержка
			.item
				a(href="#")
					img(src="../img/catalog3.png")
					span Кадровое делопроизводство
				ul
					li: a(href="#") Кадровое консультационное сопровождение (базовый пакет)
					li: a(href="#") Восстановление кадрового учета
					li: a(href="#") Дополнительные услуги (создание базы документов)
			.item
				a(href="#")
					img(src="../img/catalog4.png")
					span Аудит
				ul
					li: a(href="#") Аудит отчетности, подготовленной в соответствии с МСФО
					li: a(href="#") Аудит отчетности, подготовленной в соответствии с РСБУ
					li: a(href="#") Консультирование по вопросам налогов и учета
					li: a(href="#") Подготовка отчетности в соответствии с МСФО
					li: a(href="#") Подготовка проектов по улучшению систем бухгалтерского учета
			.item
				a(href="#")
					img(src="../img/catalog7.png")
					span Услуги для физических лиц
				ul
					li: a(href="#") Банкротство физических лиц
					li: a(href="#") Защита прав потребителей
					li: a(href="#") Кадровые услуги
					li: a(href="#") Правовая защита от коллекторов
					li: a(href="#") Представление интересов в суде
					li: a(href="#") Сделки с недвижимостью
					li: a(href="#") Семейное право
					li: a(href="#") Составление, проверка договоров
					li: a(href="#") Трудовые споры
					li: a(href="#") Юридическая консультация
			.item
				a(href="#")
					img(src="../img/catalog5.png")
					span Подбор персонала
			.item
				a(href="#")
					img(src="../img/catalog6.png")
					span Безопасность труда на производстве
				ul
					li: a(href="#") Охрана труда
					li: a(href="#") Пожарная безопасность
					li: a(href="#") Специальная оценка условий труда
