extends ./layot.jade

block config
	- var main = 'change-legislation'

block content
	.wrapper
		h1 Изменения в законодательстве
		a.rss.call-window(href="#rss")
			span Подписаться на рассылку
	section.sections
		.wrapper
			ul
				li.active: a(href="#") Бух. учет
				li: a(href="#") Правовые нормы
				li: a(href="#") Кадровое законодательство
	section.items
		.wrapper
			article
				.date 25.06.2015
				.text
					a(href="#").
						Разграничена налоговая ответственность за непредоставление сведений 
						и документов по контрагентам. Разграничена налоговая 
						ответственность за непредоставление сведений и документов 
						по контрагентам...
					p
						span.
							Подпункт "б" п. 29 ст. 1 Федерального закона от 23 июля 2013 г. 
							№ 248-ФЗ. Изменения вносятся в ст. 93.1 НК РФ, ст. 126 и ст. 129.1 
							#[br] НК РФ и вступают в силу с 1 января 2014 года.
						| Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления 
						| запрашиваемых при проведении налоговой проверки документов или 
						| непредставление #[br] их в установленные сроки  влекут ответственность, 
						| предусмотренную ст. 129.1 НК РФ ("Неправомерное несообщение сведений 
						| налоговому органу"). Согласно поправкам, совершение данного 
						| правонарушения теперь влечет ответственность в соответствии 
						| со ст. 126 НК РФ ("Непредставление налоговому органу сведений, 
						| необходимых для осуществления налогового контроля").Одновременно 
						| вводится новое положение, предусматривающее, что неправомерное несообщение
						
			article
				.date 24.06.2015
				.text
					a(href="#").
						Разграничена налоговая ответственность за непредоставление сведений 
						и документов по контрагентам. Разграничена налоговая 
						ответственность за непредоставление сведений и документов 
						по контрагентам...
					p
						span.
							Подпункт "б" п. 29 ст. 1 Федерального закона от 23 июля 2013 г. 
							№ 248-ФЗ. Изменения вносятся в ст. 93.1 НК РФ, ст. 126 и ст. 129.1 
							#[br] НК РФ и вступают в силу с 1 января 2014 года.
						| Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления 
						| запрашиваемых при проведении налоговой проверки документов или 
						| непредставление #[br] их в установленные сроки  влекут ответственность, 
						| предусмотренную ст. 129.1 НК РФ ("Неправомерное несообщение сведений 
						| налоговому органу"). Согласно поправкам, совершение данного 
						| правонарушения теперь влечет ответственность в соответствии 
						| со ст. 126 НК РФ ("Непредставление налоговому органу сведений, 
						| необходимых для осуществления налогового контроля").Одновременно 
						| вводится новое положение, предусматривающее, что неправомерное несообщение
						
			article
				.date 22.06.2015
				.text
					a(href="#").
						Разграничена налоговая ответственность за непредоставление сведений 
						и документов по контрагентам. Разграничена налоговая 
						ответственность за непредоставление сведений и документов 
						по контрагентам...
					p
						span.
							Подпункт "б" п. 29 ст. 1 Федерального закона от 23 июля 2013 г. 
							№ 248-ФЗ. Изменения вносятся в ст. 93.1 НК РФ, ст. 126 и ст. 129.1 
							#[br] НК РФ и вступают в силу с 1 января 2014 года.
						| Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления 
						| запрашиваемых при проведении налоговой проверки документов или 
						| непредставление #[br] их в установленные сроки  влекут ответственность, 
						| предусмотренную ст. 129.1 НК РФ ("Неправомерное несообщение сведений 
						| налоговому органу"). Согласно поправкам, совершение данного 
						| правонарушения теперь влечет ответственность в соответствии 
						| со ст. 126 НК РФ ("Непредставление налоговому органу сведений, 
						| необходимых для осуществления налогового контроля").Одновременно 
						| вводится новое положение, предусматривающее, что неправомерное несообщение
						
			article
				.date 20.06.2015
				.text
					a(href="#").
						Разграничена налоговая ответственность за непредоставление сведений 
						и документов по контрагентам. Разграничена налоговая 
						ответственность за непредоставление сведений и документов 
						по контрагентам...
					p
						span.
							Подпункт "б" п. 29 ст. 1 Федерального закона от 23 июля 2013 г. 
							№ 248-ФЗ. Изменения вносятся в ст. 93.1 НК РФ, ст. 126 и ст. 129.1 
							#[br] НК РФ и вступают в силу с 1 января 2014 года.
						| Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления 
						| запрашиваемых при проведении налоговой проверки документов или 
						| непредставление #[br] их в установленные сроки  влекут ответственность, 
						| предусмотренную ст. 129.1 НК РФ ("Неправомерное несообщение сведений 
						| налоговому органу"). Согласно поправкам, совершение данного 
						| правонарушения теперь влечет ответственность в соответствии 
						| со ст. 126 НК РФ ("Непредставление налоговому органу сведений, 
						| необходимых для осуществления налогового контроля").Одновременно 
						| вводится новое положение, предусматривающее, что неправомерное несообщение
						
			article
				.date 15.06.2015
				.text
					a(href="#").
						Разграничена налоговая ответственность за непредоставление сведений 
						и документов по контрагентам. Разграничена налоговая 
						ответственность за непредоставление сведений и документов 
						по контрагентам...
					p
						span.
							Подпункт "б" п. 29 ст. 1 Федерального закона от 23 июля 2013 г. 
							№ 248-ФЗ. Изменения вносятся в ст. 93.1 НК РФ, ст. 126 и ст. 129.1 
							#[br] НК РФ и вступают в силу с 1 января 2014 года.
						| Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления 
						| запрашиваемых при проведении налоговой проверки документов или 
						| непредставление #[br] их в установленные сроки  влекут ответственность, 
						| предусмотренную ст. 129.1 НК РФ ("Неправомерное несообщение сведений 
						| налоговому органу"). Согласно поправкам, совершение данного 
						| правонарушения теперь влечет ответственность в соответствии 
						| со ст. 126 НК РФ ("Непредставление налоговому органу сведений, 
						| необходимых для осуществления налогового контроля").Одновременно 
						| вводится новое положение, предусматривающее, что неправомерное несообщение
						
		section.pager
			.wrapper
				a.arrow(href="#prev")
				ul
					- for(i = 1; i <= 14; i++)
						li
							- if(i == '1')
								a(href="#").active #{i}
							- else
								a(href="#") #{i}
				a.arrow(href="#next")
						
