extends ./layot.jade

block config
	- var main = 'news-item change-item'

block content
	section.pathway
		.wrapper
			a(href="#") Изменения в законодательстве
			a(href="#") Бух. учет
			span Заголовок изменения в законодательстве ...
				
	article
		.wrapper
			p.date 25.06.2015
		
			h1.
				Разграничена налоговая ответственность за непредоставление сведений и 
				документов по #[br] контрагентам. Разграничена налоговая ответственность за 
				непредоставление сведений и документов #[br] по контрагентам
				
			.text
				span.
					Подпункт "б" п. 29 ст. 1 Федерального закона от 23 июля 2013 г. № 248-ФЗ. 
					Изменения вносятся в ст. 93.1 НК РФ, ст. 126 и ст. 129.1 #[br]
					НК РФ и вступают в силу с 1 января 2014 года.
				
				p.
					Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления 
					проведении налоговой проверки документов или непредставление их в 
					установленные сроки влекут ответственность, предусмотренную 
					ст. 129.1 НК РФ ("Неправомерное несообщение сведений налоговому органу"). 
				p.
					Согласно поправкам, совершение данного правонарушения теперь влечет 
					ответственность в соответствии со ст. 126 НК РФ ("Непредставление 
					налоговому органу сведений, необходимых для осуществления налогового 
					контроля").
				p.
					Одновременно вводится новое положение, предусматривающее, что 
					неправомерное несообщение (несвоевременное сообщение) истребуемой 
					информации влечет ответственность, предусмотренную 
					ст. 129.1 НК РФ (Неправомерное несообщение сведений налоговому органу). 
					#[br] Таким образом, лицо, нарушившее порядок, предусмотренный ст. 93.1 НК РФ, 
					теперь может быть подвергнуто двум разным видам штрафов – 
					#[br] в случае непредставления документов и в случае непредставления информации.
					
			.bottom-article
				a.back(href="#") Читать все изменения в законодательстве списком
				.source Источник: 
					a(href="www.vtb24.ru") www.vtb24.ru
