extends ./layot.jade

block content
	section.main-catalog
		.wrapper
			h1.
				Компания «Biz Partners» ведет работу 
				с иностранными и отечественными организациями, юридическими и физическими 
				лицами.
			ul.catalog
				li
					a(href='#')
						img(src="")
						.text Бухгалтерский и налоговый учет
				li
					a(href='#')
						img(src="")
						.text Бухгалтерский и налоговый учет
				li
					a(href='#')
						img(src="")
						.text Бухгалтерский и налоговый учет
				li
					a(href='#')
						img(src="")
						.text Бухгалтерский и налоговый учет
				li
					a(href='#')
						img(src="")
						.text Бухгалтерский и налоговый учет
				li
					a(href='#')
						img(src="")
						.text Бухгалтерский и налоговый учет
				li
					a(href='#')
						img(src="")
						.text Бухгалтерский и налоговый учет
				li
					.more-text.
						Предлагая полный цикл обслуживания, мы предоставляем как отдельные 
						услуги, так и комплексные решения для вашей компании в сфере 
						бухгалтерского учета, подбора персонала, юридического 
						сопровождения и ведения бизнеса в целом.
