extends ./layot.jade

block content
	section.main-catalog
		.wrapper
			h1.
				Компания «Biz Partners» ведет работу #[br]
				с иностранными и отечественными организациями, #[br]
				юридическими и физическими лицами.
			ul
				li
					a(href='#')
						img(src="../img/catalog1.png")
						.text Бухгалтерский и налоговый учет
				li
					a(href='#')
						img(src="../img/catalog2.png")
						.text Корпоративные юридические услуги
				li
					a(href='#')
						img(src="../img/catalog3.png")
						.text Кадровое делопроизводство
				li
					a(href='#')
						img(src="../img/catalog4.png")
						.text Аудит
				li
					a(href='#')
						img(src="../img/catalog5.png")
						.text Подбор персонала
				li
					a(href='#')
						img(src="../img/catalog6.png")
						.text Безопасность труда на производстве
				li
					a(href='#')
						img(src="../img/catalog7.png")
						.text Услуги для физических лиц
				li
					.more-text.
						Предлагая полный цикл обслуживания, мы предоставляем как отдельные #[br] 
						услуги, так и комплексные решения для вашей компании в сфере #[br]
						бухгалтерского учета, подбора персонала, юридического сопровождения и #[br]
						ведения бизнеса в целом.
						
	section.main-advenurage
		.wrapper
			h1 Преимущества компании «Biz Partneers»
			
			ul
				li
					img(src="../img/main-adventure-1.png")
					.text Строгое соблюдение всех сроков: от текущих вопросов до отчетности.
				li
					img(src="../img/main-adventure-2.png")
					.text Финансовая ответственность за предложенные решения.
				li
					img(src="../img/main-adventure-3.png")
					.text.
						Профессионализм и опытность сотрудников – более 10 лет опыта
						#[br] работы.
				li
					img(src="../img/main-adventure-4.png")
					.text Вы платите только за необходимые вам услуги.
					
	section.main-news
		.wrapper
			.column
				h2 Новости
				p.date 25.06.2015
				a(href="#").
					Заголовок новости: «Biz Partners» работают в области аутсорсинга уже 
					более 10 лет. Это уверенные в своих знаниях, доброжелательные 
					и ответственные специалисты, которыеф продолжают повышать 
					квалификацию и развиваться по своим направлениям.  Главной задачей 
					нашей команды является предоставление максимально эффективных 
					и качественных решений для вашего бизнеса.
					
				.text.
					Пару строк о новости: «Biz Partners» работают в области аутсорсинга уже более 10 лет. 
					Это уверенные в своих знаниях, доброжелательные и ответственные специалисты, 
					которые продолжают повышать квалификацию и развиваться по своим направлениям. 
					Главной задачей нашей команды является предоставление максимально эффективных 
					и качественных решений для вашего бизнеса. 
					
				a.news-link(href="#") Все новости
				
			.column
				h2 Изменения #[br] в законодательстве
				p.date 25.06.2015
				a(href="#").
					Разграничена налоговая ответственность за непредоставление сведений 
					и документов по контрагентам
					
				.text.
					Подпункт "б" п. 29 ст. 1 Федерального закона от 23 июля 2013 г. № 248-ФЗ. Изменения 
					вносятся в ст. 93.1 НК РФ, ст. 126 и ст. 129.1 НК РФ и вступают в силу с 1 января 2014 года. 
					Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления запрашиваемых при 
					проведении налоговой проверки документов или непредставление их в установленные 
					сроки влекут ответственность, предусмотренную ст. 129.1 НК РФ ("Неправомерное 
					несообщение сведений налоговому органу"). Согласно поправкам, совершение данного 
					правонарушения теперь влечет ответственность в соответствии со ст. 126 НК РФ 
					("Непредставление налоговому органу сведений, необходимых для осуществления 
					налогового контроля").
					
	section.main-partners
		.wrapper
			h1 Партнеры компании «Biz Partners»
			ul
				li: img(src="../img/partners.png")
				li: img(src="../img/partners.png")
				li: img(src="../img/partners.png")
