extends ./layot.jade

block content
	section.main-catalog
		.wrapper
			h1.
				Компания «Biz Partners» ведет работу #[br]
				с иностранными и отечественными организациями, #[br]
				юридическими и физическими лицами.
			ul
				li
					a(href='#')
						img(src="../img/catalog1.png")
						.text Бухгалтерский и налоговый учет
				li
					a(href='#')
						img(src="../img/catalog2.png")
						.text Корпоративные юридические услуги
				li
					a(href='#')
						img(src="../img/catalog3.png")
						.text Кадровое делопроизводство
				li
					a(href='#')
						img(src="../img/catalog4.png")
						.text Аудит
				li
					a(href='#')
						img(src="../img/catalog5.png")
						.text Подбор персонала
				li
					a(href='#')
						img(src="../img/catalog6.png")
						.text Безопасность труда на производстве
				li
					a(href='#')
						img(src="../img/catalog7.png")
						.text Услуги для физических лиц
				li
					.more-text.
						Предлагая полный цикл обслуживания, мы предоставляем как отдельные #[br] 
						услуги, так и комплексные решения для вашей компании в сфере #[br]
						бухгалтерского учета, подбора персонала, юридического сопровождения и #[br]
						ведения бизнеса в целом.
