- var main = "main-page"
block config

doctype
html(lang="ru")
	head
		title Biz Partners
		meta(charset="utf-8")
		meta(name="viewport",content-width="width=device-width")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='../styles/build/build.css')
		
		
	body
		header
			.wrapper
				.column#logo
					.logo
				.column#menu
					nav
						ul
							li: a(href="#") О компании
							li
								a(href="#") Каталог услуг
								
								ul
									li: a.active(href="#") Бухгалтерский и налоговый учет
									li: a(href="#") Корпоративные юридические услуги
									li: a(href="#") Кадровое делопроизводство
									li: a(href="#") Аудит
									li: a(href="#") Безопасность труда на производстве
									li: a(href="#") Подбор персонала
									li: a(href="#") Услуги для физических лиц
									
							li: a(href="#") Изменения в законодательстве
							li: a(href="#") Контакты
				.column#contacts
					.figure
						a(href="tel:+79150070775") +7 (915) 007-07-75
						a(href="#present") Презентация
						
					span.callme
						a(href="#callme") Заказать звонок
					span.writeme
						a(href="#writeme") Написать нам
				
		main.content(class="#{main}")
			block content
		footer
			.wrapper
				.column#copy © Biz Partners, 2001-2015 
					p.
						#[b Адрес: 107023 г. Москва,] #[br]
						ул. Большая почтовая, 36, #[br] 
						18 подъезд, сектор А, 1 этаж, офис 110
						
				.column#footer-menu
					ul
						li: a(href="#") О компании
						li: a(href="#") Каталог услуг
						li: a(href="#") Новости
						li: a(href="#") Контакты
						
					ul
						li Каталог услуг
						li: a(href="#") Бухгалтерский и налоговыйучет
						li: a(href="#") Корпоративные юридические услуги
						li: a(href="#") Кадровое законодательство
						li: a(href="#") Аудит
						li: a(href="#") Дополнительные услуги
						li: a(href="#") Подбор персонала
						li: a(href="#") Услуги для физических лиц
						
				.column#developer
					a(href="http://web-izmerenie.ru/") сделано в
