extends ./layot.jade

block config
	- var main = 'news-item'

block content
	section.pathway
		.wrapper
			a(href="#") Новости компании
			span Заголовок новости парут первых слов...
				
	article
		.wrapper
			p.date 25.06.2015
		
			h1.
				Заголовок новости: «Biz Partners» работают в области аутсорсинга уже 
				более 10 лет. Это уверенные в своих 
				знаниях, доброжелательные и ответственные специалисты, которыеф 
				продолжают повышать 
				квалификацию и развиваться по своим направлениям.  Главной задачей 
				нашей команды является 
				предоставление максимально эффективных и качественных решений для 
				вашего бизнеса. 
				
			.text
				p.
					Ранее в ст. 93.1 НК РФ закреплялось, что отказ от представления 
					проведении налоговой проверки документов или непредставление их в 
					установленные сроки влекут ответственность, предусмотренную 
					ст. 129.1 НК РФ ("Неправомерное несообщение сведений налоговому органу"). 
				p.
					Согласно поправкам, совершение данного правонарушения теперь влечет 
					ответственность в соответствии со ст. 126 НК РФ ("Непредставление 
					налоговому органу сведений, необходимых для осуществления налогового 
					контроля").
				p.
					Одновременно вводится новое положение, предусматривающее, что 
					неправомерное несообщение (несвоевременное сообщение) истребуемой 
					информации влечет ответственность, предусмотренную 
					ст. 129.1 НК РФ (Неправомерное несообщение сведений налоговому органу). 
					#[br] Таким образом, лицо, нарушившее порядок, предусмотренный ст. 93.1 НК РФ, 
					теперь может быть подвергнуто двум разным видам штрафов – 
					#[br] в случае непредставления документов и в случае непредставления информации.
					
			.bottom-article
				a.back(href="#") Читать все новости списком
