extends ./layot.jade

block config
	- var main = 'news change-legislation'

block content
	.wrapper
		h1 Новости компании
		a.rss(href="#rss")
			span Подписаться на рассылку
	section.items
		.wrapper
			article
				.date 25.06.2015
				.text
					a(href="#").
						Заголовок новости: «Biz Partners» работают в области аутсорсинга уже 
						более 10 лет. Это уверенные в своих знаниях, доброжелательные 
						и ответственные специалисты, которыеф продолжают повышать 
						квалификацию и развиваться по своим направлениям.  Главной задачей 
						нашей команды является предоставление максимально эффективных 
						и качественных решений для вашего бизнеса. 
					p.
						Пару строк о новости: «Biz Partners» работают в области аутсорсинга 
						уже более 10 лет. Это уверенные в своих знаниях, доброжелательные и #[br] 
						ответственные специалисты, которые продолжают повышать квалификацию 
						и развиваться по своим направлениям. Главной задачей нашей команды #[br]
						является предоставление максимально эффективных и качественных 
						решений для вашего бизнеса. 
						
			article
				.date 24.06.2015
				.text
					a(href="#").
						Заголовок новости: «Biz Partners» работают в области аутсорсинга уже 
						более 10 лет. Это уверенные в своих знаниях, доброжелательные 
						и ответственные специалисты, которыеф продолжают повышать 
						квалификацию и развиваться по своим направлениям.  Главной задачей 
						нашей команды является предоставление максимально эффективных 
						и качественных решений для вашего бизнеса. 
					p.
						Пару строк о новости: «Biz Partners» работают в области аутсорсинга 
						уже более 10 лет. Это уверенные в своих знаниях, доброжелательные и #[br] 
						ответственные специалисты, которые продолжают повышать квалификацию 
						и развиваться по своим направлениям. Главной задачей нашей команды #[br]
						является предоставление максимально эффективных и качественных 
						решений для вашего бизнеса. 
						
			article
				.date 22.06.2015
				.text
					a(href="#").
						Заголовок новости: «Biz Partners» работают в области аутсорсинга уже 
						более 10 лет. Это уверенные в своих знаниях, доброжелательные 
						и ответственные специалисты, которыеф продолжают повышать 
						квалификацию и развиваться по своим направлениям.  Главной задачей 
						нашей команды является предоставление максимально эффективных 
						и качественных решений для вашего бизнеса. 
					p.
						Пару строк о новости: «Biz Partners» работают в области аутсорсинга 
						уже более 10 лет. Это уверенные в своих знаниях, доброжелательные и #[br] 
						ответственные специалисты, которые продолжают повышать квалификацию 
						и развиваться по своим направлениям. Главной задачей нашей команды #[br]
						является предоставление максимально эффективных и качественных 
						решений для вашего бизнеса. 
						
			article
				.date 20.06.2015
				.text
					a(href="#").
						Заголовок новости: «Biz Partners» работают в области аутсорсинга уже 
						более 10 лет. Это уверенные в своих знаниях, доброжелательные 
						и ответственные специалисты, которыеф продолжают повышать 
						квалификацию и развиваться по своим направлениям.  Главной задачей 
						нашей команды является предоставление максимально эффективных 
						и качественных решений для вашего бизнеса. 
					p.
						Пару строк о новости: «Biz Partners» работают в области аутсорсинга 
						уже более 10 лет. Это уверенные в своих знаниях, доброжелательные и #[br] 
						ответственные специалисты, которые продолжают повышать квалификацию 
						и развиваться по своим направлениям. Главной задачей нашей команды #[br]
						является предоставление максимально эффективных и качественных 
						решений для вашего бизнеса. 
						
			article
				.date 15.06.2015
				.text
					a(href="#").
						Заголовок новости: «Biz Partners» работают в области аутсорсинга уже 
						более 10 лет. Это уверенные в своих знаниях, доброжелательные 
						и ответственные специалисты, которыеф продолжают повышать 
						квалификацию и развиваться по своим направлениям.  Главной задачей 
						нашей команды является предоставление максимально эффективных 
						и качественных решений для вашего бизнеса. 
					p.
						Пару строк о новости: «Biz Partners» работают в области аутсорсинга 
						уже более 10 лет. Это уверенные в своих знаниях, доброжелательные и #[br] 
						ответственные специалисты, которые продолжают повышать квалификацию 
						и развиваться по своим направлениям. Главной задачей нашей команды #[br]
						является предоставление максимально эффективных и качественных 
						решений для вашего бизнеса. 
						
		section.pager
			.wrapper
				a.arrow(href="#prev")
				ul
					- for(i = 1; i <= 14; i++)
						li
							- if(i == '1')
								a(href="#").active #{i}
							- else
								a(href="#") #{i}
				a.arrow(href="#next")
						
