- var tplPath = "../bitrix/templates/main";
doctype
html(lang="ru")
	head
		title Biz Partners
		meta(charset="utf-8")
		meta(name="viewport",content-width="width=device-width")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='#{tplPath}/styles/build/build.css')
		script(type='text/javascript', src='#{tplPath}/scripts/build/build.js')
		
	body
		main.content.links
			.wrapper
				ul
					li: a(href="/html/main.html") Главная
					li: a(href="/html/404.html") 404
					li: a(href="/html/about.html") О компании
					li: a(href="/html/catalog.html") Каталог услуг
					li: a(href="/html/catalog_section.html") Бухгалтерский и налоговый учёт
					li: a(href="/html/catalog_detail_1.html") Аутсорсинг бухгалтерских процессов
					li: a(href="/html/catalog_detail_2.html") Бухгалтерия «под ключ»
					li: a(href="/html/change_legislation.html") Изменения в законодательстве список
					li: a(href="/html/change_legislation_item.html") Изменения в законодательстве детально
					li: a(href="/html/contacts.html") Контакты
					li: a(href="/html/news.html") Новости компании список
					li: a(href="/html/news_item.html") Новости компании детально
